In [1]:
import numpy as np
import pandas as pd

# 1.Sales after stepping into digital marketing

In [2]:
datah = pd.read_csv(r'C:\Users\user\Downloads\Sales_add.csv')

In [3]:
datah

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [4]:
from scipy.stats import f_oneway

In [5]:
sales_before = datah['Sales_before_digital_add(in $)']

In [6]:
sales_after = datah['Sales_After_digital_add(in $)']

In [9]:
f_statistics,p_value = f_oneway(sales_before, sales_after)

In [10]:
f_statistics

168.87221989150382

In [11]:
p_value

2.6143680069046027e-16

In [16]:
print('Null Hypothesis : There is NO significant difference in sales before and after implementing digital marketing.')

if p_value<.05:
    print('Reject null hypothesis') 
else:
    print('Accept null hypothesis')

Null Hypothesis : There is NO significant difference in sales before and after implementing digital marketing.
Reject null hypothesis

In [18]:
print('There is an increase in sales after stepping into digital marketing.')

There is an increase in sales after stepping into digital marketing.

# 2.Check dependency between Region and Manager

In [30]:
import statsmodels.api as sm

In [31]:
from statsmodels.formula.api import ols

In [32]:
print('Let us consider the Sales_After_digital_add(in $)column which represents the sales after implementing digital marketing')

Let us consider the Sales_After_digital_add(in $)column which represents the sales after implementing digital marketing

In [33]:
datah.columns = ['Month', 'Region', 'Manager', 'Sales_before', 'Sales']

In [34]:
datah

       Month      Region      Manager  Sales_before   Sales
0    Month-1  Region - A  Manager - A        132921  270390
1    Month-2  Region - A  Manager - C        149559  223334
2    Month-3  Region - B  Manager - A        146278  244243
3    Month-4  Region - B  Manager - B        152167  231808
4    Month-5  Region - C  Manager - B        159525  258402
5    Month-6  Region - A  Manager - B        137163  256948
6    Month-7  Region - C  Manager - C        130625  222106
7    Month-8  Region - A  Manager - A        131140  230637
8    Month-9  Region - B  Manager - C        171259  226261
9   Month-10  Region - C  Manager - B        141956  193735
10  Month-11  Region - B  Manager - C        159339  203175
11  Month-12  Region - A  Manager - A        178939  276279
12  Month-13  Region - B  Manager - A        145062  205180
13  Month-14  Region - A  Manager - A        151514  253131
14  Month-15  Region - C  Manager - A        147463  229336
15  Month-16  Region - A  Manager - B        177195  187305
16  Month-17  Region - A  Manager - C        140862  234908
17  Month-18  Region - C  Manager - B        167996  191517
18  Month-19  Region - B  Manager - A        132135  227040
19  Month-20  Region - A  Manager - B        152493  212579
20  Month-21  Region - B  Manager - A        147425  263388
21  Month-22  Region - A  Manager - C        130263  243020

In [35]:

model1 = ols('Sales ~ C(Region) + C(Manager) + C(Region): C(Manager)', data= datah).fit()

In [36]:
anova_table = sm.stats.anova_lm(model1, typ=2)

In [37]:
anova_table

                            sum_sq    df         F    PR(>F)
C(Region)             1.114049e+09   2.0  0.810150  0.466032
C(Manager)            2.568861e+09   2.0  1.868109  0.193579
C(Region):C(Manager)  8.388157e+08   4.0  0.304999  0.869479
Residual              8.938238e+09  13.0       NaN       NaN

In [42]:
print('Null hypothesis for the effect of "Region" : There is no significant difference in mean sales among the different regions.')
print('Null hypothesis for the effect of "Manager" : There is no significant difference in mean sales among the different managers.')
print('Null hypothesis for the interaction effect between "Region" and "Manager" : The effect of "Region" on sales does not depend on the different managers, and the effect of "Manager" on sales does not depend on the different regions.')

Null hypothesis for the effect of "Region" : There is no significant difference in mean sales among the different regions.
Null hypothesis for the effect of "Manager" : There is no significant difference in mean sales among the different managers.
Null hypothesis for the interaction effect between "Region" and "Manager" : The effect of "Region" on sales does not depend on the different managers, and the effect of "Manager" on sales does not depend on the different regions.

In [44]:
print('Since all the p_values are greater than 0.05, accept all null hypotheses.')

Since all the p_values are greater than 0.05, accept all null hypotheses.